@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    @apply font-raleway
}

li{
    @apply mx-3 hover:scale-110 
}

li a{
    @apply text-lg font-bold 
}

.mobile > li {
    @apply my-3
}

.info-card-container {
    @apply p-6 md:p-16 -translate-x-full transition ease-in-out
}

.info-card-container.show {
@apply translate-x-0 transition ease-in-out duration-2500
}

.info-card-container:nth-child(even){
    @apply bg-slate-100
}

.info-card{
    @apply mx-1 md:mx-16
}

.info-card-heading{
    @apply text-2xl text-center md:text-start md:text-3xl font-bold mt-5 md:mt-0 
}

.info-card-container:nth-child(even) .info-card-heading{
    @apply opacity-0 translate-x-full transition ease-in-out
}

.info-card-container:nth-child(odd) .info-card-heading{
    @apply opacity-0 -translate-x-full transition ease-in-out
}

.info-card-container.show .info-card-text .info-card-heading{
    @apply transition ease-in-out translate-x-0 opacity-100 delay-2000 duration-1500
}

.info-card-subheading{
    @apply text-xl font-bold mt-2 opacity-0
}

.info-card-container:nth-child(even) .info-card-subheading{
    @apply opacity-0 translate-x-full transition ease-in-out
}

.info-card-container:nth-child(odd) .info-card-subheading{
    @apply opacity-0 -translate-x-full transition ease-in-out
}

.info-card-container.show .info-card-text .info-card-subheading{
    @apply transition ease-in-out translate-x-0 opacity-100 delay-2500 duration-1500
}

.info-card-content{
    @apply opacity-0
}

.info-card-container:nth-child(even) .info-card-content{
    @apply opacity-0 translate-x-full transition ease-in-out
}

.info-card-container:nth-child(odd) .info-card-content{
    @apply opacity-0 -translate-x-full transition ease-in-out
}

.info-card-container.show .info-card-text .info-card-content{
    @apply transition ease-in-out translate-x-0 opacity-100 delay-3500 duration-1000
}

.info-card-text{
    @apply mb-8
}

/* .main-container{
    @apply transition ease-in-out delay-150 hover:bg-rose-500
} */
/* 
.testimonial-scroller {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  } 
  
  .testimonial-card {
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0 10px; 
  } */

/* .testimonial-card{
    @apply rounded-3xl shadow-xl m-8 opacity-0 transition ease-in-out
}

.testimonial-card.left{
    @apply rounded-3xl shadow-xl m-8 opacity-0 transition ease-in-out
} */

.testimonial-card{
    @apply flex flex-col rounded-3xl shadow-xl m-4 
}

/* .testimonial-card.left{
    @apply rounded-3xl shadow-xl m-8 h-fit
} */


.testimonial-section{
    @apply mt-12
}

/* .testimonial-section .testimonial-card.show:nth-child(1){
    @apply transition ease-in-out opacity-100 duration-1500
}

.testimonial-section .testimonial-card.show:nth-child(2){
    @apply transition ease-in-out opacity-100 delay-1500 duration-2500
}

.testimonial-section .testimonial-card.show:nth-child(3){
    @apply transition ease-in-out opacity-100 delay-2500 duration-2500
}

.testimonial-section .testimonial-card.show:nth-child(4){
    @apply transition ease-in-out opacity-100 delay-3500 duration-2500
}

.testimonial-section .testimonial-card.show:nth-child(5){
    @apply transition ease-in-out opacity-100 delay-5000 duration-2500
}

.testimonial-section .testimonial-card.show:nth-child(6){
    @apply transition ease-in-out opacity-100 delay-6000 duration-2500
} */

.label-group{
    @apply flex flex-col mb-8 md:w-96 overflow-hidden
}

.contact-label{
    @apply text-lg font-bold
}

.contact-input{
    @apply rounded-md border-2 border-black
}

.pricing-btn{
    @apply p-3 mt-10 mx-10 w-11/12 place-self-center text-center font-bold rounded-full bg-gradient-to-r from-slate-600 to-gray-700 text-white
}

/* .spacer {
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer {
    background-image: url(../public/svg/layered-waves.svg);
} */

/* .spacer {
    @apply bg-center bg-cover aspect-w-2 aspect-h-1
} */
